# Kendi gizli anahtarınızı buraya girin ve dosyanın adını .env olarak değiştirin
SECRET_KEY=senin_gizli_anahtarin_buraya_gelecek
DATABASE_URL=postgresql://postgres:sifre@localhost/case_share
GEMINI_API_KEY=google_gemini_api_anahtarin
REDIS_URL=redis://localhost:6379