fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
pydantic[email]
email-validator
python-dotenv
bcrypt
passlib
google-genai
python-multipart
python-jose[cryptography]
cryptography
httpx
alembic
# Redis async client
redis[asyncio]
